* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2C2C32;
  --color-active: #0f7dc6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color-bg);
  padding: 1rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
header>img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.container {
  max-width: 80%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main a {
  text-decoration: none;
  color: var(--color-bg);
}

main a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-active);
  cursor: default;
}

.flag-icon{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card{
  width: 300px;
}

.pagination{
  display: flex;
  cursor: pointer;
  gap: 5px;
}

.pagination li{
  list-style: none;
}